

                <table>
                    <tr> <th>Id</th>
                        <th>Course</th>
                        <th th:width="80">Description</th>
                        <th>Units</th>


                        <th><a href="/courses/new"><i class="new"> + New Course </i></a></th>
                    </tr>
                    <tr th:each="course : ${course}">
                        <td th:text="${course.id}"></td>
                        <td th:text="${course.name}"></td>
                        <td th:width="80" th:text="${course.description}"></td>
                        <td th:text="${course.units}"></td>

                        <!--td> <a th:href="@{/departments/edit/{id}(id=${department.id})}" class="edit">Update</a></td-->
                        <td>  <a th:href="@{/courses/edit/{id}(id=${course.id})}" class="edit">Edit</a>
                        </td>
                    </tr>
                </table>

